body {
    width: 100%;
    height: auto;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.content-container {
    display: flex;
    justify-content: center;
    background-color: #FDF8EE;
    padding: 100px 20px;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.branding1 {
    margin: 0 20px;
    padding-top: 90px;
}

.branding1>h2 {
    text-align: left;
}

.branding1>p {
    color: #8A8A8A;
    font-size: 20px;
    font-weight: 400;
    padding-right: 50px;
}

.branding1>button {
    padding: 20px 100px;
    font-weight: 500px;
    line-height: 2;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: #4D2C5E;
    color: white;
}

h2 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0;
    box-sizing: border-box;
    color: #4D2C5E;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 135%;
    text-align: center;
}

/* ISI KONTEN */

.branding2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 70px;
    border: #050C26;
    border-radius: 1;
}

.branding2 .banner3 {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner3>img {
    width: 490px;
}

.resume-content {
    display: flex;
    flex-direction: column;
}

.branding2 .resume-content .box {
    margin: 10px 10px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-right: 5px;
    width: 600px;
    height: 110px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFFBFB;
    mix-blend-mode: darken;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.branding2 .resume-content .box h3 {
    color: #4D2C5E;
    font-family: Roboto;
    padding-left: 30px;
    font-size: 24px;
    text-align: left;
    font-weight: 700; */
    margin: 20px;
    margin: 15px 0 10px 0;
}

.box>p {
    color: #8A8A8A;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 0 30px;
    margin: 0;
    text-align: justify;
    margin-bottom: 15px;
}


/* LIST COURSE */

/* 
.course-container {
    display: flex;
    margin: 0 30px;
    margin-top: 30px;
    justify-content: center;
}

.listbox1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.listbox2 {
    display: flex;
    justify-content: space-around;
}

/* .listbox2 :hover {
    background-color: rgb(240, 238, 238);
    cursor: pointer;
    border-radius: 16px;
} */

/* .list-container {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: (100px, auto);
    padding: 10px;
    margin-top: auto;
}

.list-container::nth-child(4n) {
    clear: both;
} */

.box-list {
    /* background-color: #FDF8EE; */
    padding-left: 2%;
}

.list-content {
    width: 450px;
    background-color: #FDF8EE;
    height: auto;
    border: 4px solid rgba(145, 158, 171, 0.24);
    border-radius: 16px;
}

.list-content>.img {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.list-content>.img>img {
    width: 360px;
    height: 252px;
}

.list-content>.statusimg {
    margin: 0;
    padding: 0 9%;
}

.list-content h4 {
    text-align: center;
    color: #4D2C5E;
    font-size: 25px;
    margin-top: 1%;
    margin-bottom: 10%;
    margin-bottom: 4%;
}

.list-content p {
    text-align: left;
    margin-top: 10%;
    margin-bottom: 3%;
    padding-left: 10%;
}

.list-container {
    display: flex;
    justify-content: start;
    width: 80%;
    margin: 0  auto;
}

.course-container {
    background-color: white;
}

.coursebox1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: auto;
    margin: 50px 0;
}

.coursebox2 {
    width: 250px;
    height: 290px;
    margin: 15px;
    justify-content: space-between;
}

/* .course-container1 :hover {
    background-color: rgb(240, 238, 238);
    cursor: pointer;
} */

.course-content {
    border: 4px solid rgba(145, 158, 171, 0.24);
    border-radius: 16px;
    padding: 15px 5px;
    background-color: #FDF8EE;
    height: 250px;
}

.course-content>.img {
    display: flex;
    justify-content: center;
}

.course-content>.img>img {
    width: 200px;
    height: auto;
}

.course-content>.namecourse {
    font-size: 15x;
    color: #4D2C5E;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.course-content>p {
    font-size: 12px;
    margin: 5px 18px ;
    font-weight: 500;
    text-align: justify;
}

.course-content>.companyimg {
    display: flex;
    justify-content: space-around;
    width: auto;
    margin: 0 16px;
}

.companyimg>img {
    height: 24px;
    width: auto;
}

.course-content>.upskill {
    color: #8A8A8A;
    font-size: 12px;
    font-weight: 400;
}

/* CSS untuk perangkat tablet*/
@media screen and (max-width: 768px) {
.content-container {
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.branding1 {
    margin: 0 2%;
    padding: 0;
}

.banner2>img {
    margin-top: 100px;
    max-width: 100%;
    height: auto;
}

.branding1>button {
    padding: 15px 70px;
}

h2 {
    font-size: 30px;
}

.branding2 {
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 20px 15px;
}

.branding2 .resume-content .box {
    width: auto;
    height: auto;
    padding: 15px;
}

.branding2 .resume-content .box h3 {
    font-size: 25px;
}

.box>p {
    font-size: 20px;
}

.branding2 .banner3 img {
    width: 290px;
    height: auto;
    margin-bottom: 50px;
}

.coursebox1 {
    flex-direction: column;
    text-align: center;
    padding: 0 15%;
}

}

/* CSS untuk perangkat tablet */
@media screen and (min-width: 601px) and (max-width: 1024px) {
.content-container {
    padding: 5% 2%;
}

.branding1 {
    margin: 0 2%;
}

.branding1>button {
    padding: 10px 20px;
}

h2 {
    font-size: 36px;
}

.branding2 .resume-content .box h3 {
    font-size: 36px;
}

}

