body {
    overflow-x: hidden;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FDF8EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 100;
}

/* Mengatur gaya logo */
.logo {
    width: 170px;
    height: auto;
}

.navbar-container ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
}

/* Mengatur gaya menu navigasi */
ul li a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Mengubah warna teks menu ketika digerakkan */
 ul li a:hover {
    color: rgb(162, 96, 194);
}

ul li i {
    display: none;
}

ul li a .logo {
    display: none;
}

ul li svg {
    display: none;
}

ul li .logo-mobile {
    display: none;
}

/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    right: 11px;
    top: 34px;
    opacity: 0;
    cursor: pointer;

}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: #4D2C5E;
    border-radius: 3px;
    transition: all 0.5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0)
}

/* responsive untuk tablet */
@media sceen and (max-width: 768px) {
.navbar-container ul {
    width: 50%;
}

}   


/* responsive untuk mobile */
@media screen and (max-width: 576px) {
.menu-toggle {
    display: flex;
}


.navbar-container ul li a {
    color: white;
    width: 80%;
}

.navbar-container {
    background-color: #FDF8EE;
}

.navbar-container ul{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #311c6b;
    margin-top: -1px;
    transform: translateX(100%);
    transition: all 0.5s;
    opacity: 0;
}
 
 .navbar-container ul.slide {
    opacity: 1;
    transform: translateX(0);
    flex-wrap: nowrap;
    gap: 0;
 }

 ul li i {
    display: ;
 }

 ul li {
    width: 80%;
    height: 50px;
    display: flex;
 }

 ul li a .logo {
    display: block;
 }

 ul li svg {
    display: block;
 }


}