.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FDF8EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 100;
}

/* Mengatur gaya logo */
.logo {
    max-width: 200px;
    height: auto;
}

/* Mengatur gaya menu navigasi */
.navbar-content a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Mengubah warna teks menu ketika digerakkan */
.navbar-content a:hover {
    color: #4D2C5E;
}

@media (max-width: 768px) {
    /* responsive untuk navbar */
    .navbar-content {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 10px;
    }

    .navbar-content {
        flex-direction: column;
        align-items: flex-end;
    }

    .logo {
        max-width: 100px;
        height: auto;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .logo {
        max-width: 150px;
        height: auto;
    }
}