body {
    width: 100%;
    height: auto;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-style: none;
    margin: 0;
    padding: 0;
}

/* style untuk content */

.banner1 {
    display: flex;
    align-items: center;
    padding: 150px 100px;
    margin-bottom: 10px;
    background-color: #FDF8EE;
}

.banner1>img {
    width: 100%;
    border-radius: 50px;
    height: auto;
    margin: 0 auto;
}

h2 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0;
    box-sizing: border-box;
    color: #4D2C5E;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 135%;
    text-align: center;
}

.visimisi-content1 {
    display: flex;
    justify-content: center;
    background-color: #4D2C5E;
    border-radius: 50px;
    color: white;
    width: auto;
    height: 200px;
    margin: 0 180px;
    padding: 15px 50px;
}

.visimisi-content1>h4 {
    font-size: 20px;
    font-weight: bold;
}

.boxvisimisi>h4>p {
    color: #ddd5d5;
    font-size: 15px;
    font-weight: 400;
    opacity: 0.8;
}

.boxvisimisi>img {
    padding-top: 10px;
}

.visimisi-content1>.boxvisimisi{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.content-container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
    background-color: white;
}

.banner2 {
    margin-left: 100px;
    margin-right: 10px;
    width: 700px;
    height: 400px;
}

.banner2>img {
    width: 80%;
    height: auto;
}

.branding1 {
    width: 800px;
    height: auto;
    margin-left: 20px;
    padding-top: 50px;
}

.branding1>h2 {
    text-align: left;
}

.branding1>p {
    color: #8A8A8A;
    font-size: 16px;
    font-weight: 400;
    padding-right: 150px;
    line-height: 1.5;
}

.branding1>button {
    padding: 20px 100px;
    font-weight: 500;
    line-height: 1;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: #4D2C5E;
    color: white;
    font-size: 15px;
    margin: 20px 0;
}

/* .branding1>button:hover {
    background-color: white;
    color: #4D2C5E;
} */

.course-container {
    display: flex;
    margin: 0 30px;
    margin-top: 30px;
    justify-content: center;
    background-color: white;
}

.course-container h2{
    font-weight: 700;
}

.coursebox1 {
    display: flex;
    justify-content: center;
    width: auto;
}

.coursebox2 {
    width: 250px;
    height: 330px;
    display: flex;
    margin: 15px;
    justify-content: space-between;
}

/* .course-container1 :hover {
    background-color: rgb(240, 238, 238);
    cursor: pointer;
} */

.course-content {
    border: 4px solid rgba(145, 158, 171, 0.24);
    border-radius: 16px;
    padding: 15px 5px;
    background-color: #FDF8EE;
}

.course-content>.img {
    display: flex;
    justify-content: center;
}

.course-content>.img>img {
    width: 200px;
    height: 145px;
}

.course-content>.namecourse {
    font-size: 15x;
    color: #4D2C5E;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.course-content>p {
    font-size: 12px;
    margin: 5px 18px ;
    font-weight: 500;
    text-align: justify;
}

.course-content>.companyimg {
    display: flex;
    justify-content: space-around;
    width: auto;
    margin: 0 16px;
}

.companyimg>img {
    height: 24px;
    width: auto;
}

.course-content>.upskill {
    color: #8A8A8A;
    font-size: 12px;
    font-weight: 400;
}

.morecourse {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 20px 0;
    font-weight: 500;
    font-size: 15px;
}

.morecourse>button {
    padding: 15px 70px;
    line-height: 2;
    border-radius: 50px;
    text-decoration: none;
    outline: none;
    background-color: #4D2C5E;
    color: white;
} 

.main-container2 {
    padding: 20px;
    margin: 10px;
    width: auto;
    height: auto;
}

.comment-box {
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 300px;
    width: auto;
}

.testimoni {
    width: autos;
    background-color: #FDF8EE;
    padding: 10px 0;
    margin: 50px 0;
}


.comment-container {
    background-color: white;
    border: 2px solid #D2D2D2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 300px;
    font-size: 15px;
}

.commentid {
    display: flex;
    align-items: center;
}

.commentid>img {
    width: 80px;
    height: 80px;
    padding: 30px;
}

.commentid>.comment-name {
    padding: 5px;
}

.comment-desc {
    text-align: center;
    padding: 10px 20px;
}

.comment-container h3 {
    font-size: 25px;
}

/* .svg {
    display: flex;
    justify-content: center;
}

.svg>.svg1 {
    margin: 0 30px;
}

.svg>.svg2 {
    width: 15x;
    height: auto;
} */


/* CSS untuk perangkat tablet */
@media screen and (max-width: 768px) {
    /* section 1 */
h2 {
    font-size: 25px;
}
.banner1 {
    margin-top: 50px;
    margin-top: 70px;
    padding: 50px 20px;
}


.visimisi-content1 {
    margin: 0 20px;
    padding: 0 20px;
    flex-direction: column;
    text-align: center;
    height: 530px;
    width: auto;
    align-items: center;
}

.visimisi-content1>.boxvisimisi {
    height: 170px;
}

.boxvisimisi>img {
    width: 80px;
    height: 80px;
    padding-top: 50px;
}
    /* section 1 end here */

    /* section 2 */
.content-container {
    flex-direction: column;
    text-align: center;
}

.banner2 {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0 30px;
}

.banner2>img{
    width: 350px;
    height: auto;
}

.branding1 {
    width: auto;
    margin-left: 10px;
    margin-bottom: 50px;
    padding-top: 0;
}

.branding1>h2 {
    text-align: center;
}

.branding1>p {
    padding-right: 10px;
}

.branding1>button {
    padding: 10px 30px;
}
    /* section 2 end here */
.course-container {
    margin: 0 50px;
}

.coursebox1 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0 30px;
    align-items: center;
}

.coursebox1>.coursebox2 {
    width: 250px;
    height: auto;
    margin: 15px 0; 
    justify-content: center;
}

.course-content {
    border: 2px solid rgba(145, 158, 171, 0.24);
    border-radius: 10px;
    padding: 10px;
}

.course-content>.img>img {
    width: 100%;
}

.course-content>.namecourse {
    font-size: 18px;
    margin: 8px 0;
}

.course-content>p {
    font-size: 14px;
    margin: 5px 0;
}

.companyimg>img {
    height: 16px;
}

.course-content>.upskill {
    font-size: 10px;
}

.morecourse {
    margin: 25px 0;
}
.morecourse>button {
    padding: 10px 20px;
}

.main-container2 {
    padding: 10px;
    margin: 5px;
}

.comment-box {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    overflow-x: auto;
    gap: 30px;
    height: auto;
}

.testimoni {
    margin: 20px 0;
}

.comment-container {
    padding: 10px;
    width: 100%;
    height: auto;
}

.commentid>img {
    width: 60px;
    height: 60px;
    padding: 20px;
}

.comment-desc {
    padding: 5px 10px;
}

.comment-container h3 {
    font-size: 20px;
}   
}

/* CSS untuk perangkat mobile */
@media screen and (min-width: 601px) and (max-width: 1024px) {

}
