:root {
  --primary: #8f35a5;
  --bg: #ffffff;
}

body {
  background-color: var(--bg);
  color: #fdf8ee;
  width: 1920px;
  height: 1215px;
}

.parent-container {
  width: 1920px;
  height: 1215px;
  background: FDF8EE;
}

