body {
    background-color : white;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.parent-container {
    width: 100%;
    height: auto;
    background-color : #FDF8EE;
    padding-bottom: 30px;
    margin: 0;
}

.main-container {
    width: 90%;
    margin: 0 auto ;
}

.main-container2 {
    width: 80%;
    margin: 0 auto ;
}

.video-learning {
    display: flex;
    align-items: flex-start;
    padding-top: 150px;
}

.video-container {
    width: 65%;
}

.video-learning video {
    width: 100%;
    height: auto;
}

.course-content-container {
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    width: 25%;
}

.course-content-container h1 {
    font-size: 25px;
    color: black;
}

.course-item {
    display: flex;
}

.course-item h2 {
    font-size: 24px;
    color: #B0B1B8;
    margin-right: 10px;
}

.course-duration {
    font-size: 15px;
    color: #A0A5BD;
}
.course-title {
    font-size: 18px;
    color: #0D1333; 
}

.course-divider {
    border: none;
    border-top: 2px solid #E5E5E5; 
}

.introduction-course h2{
    font-size: 45px;
}

.introduction-course p{
    font-size: 20px;
    color: #8A8A8A;
    margin-top: -20px;
}

.title-comment{
    font-size: 30px;
}

.comment-container {
    background-color: white;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    padding: 23px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    width: 27%;
    margin-bottom: 20px;
}

.comment-container h3 {
    font-size: 25px;
}

.comment-jabatan{
    font-size: 15px;
    color: #817A99;
    font-weight: bold;
    margin-top: -10px;
}

.comment-desc{
    font-size: 15px;
    color: #676767;
}

.comments-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-judul {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

.form-container {
    background-color: white;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 50%;
    margin: 0 auto;
}

.form-container h2 {
    font-size: 25px;
    color: black;
}

.form-container h3 {
    font-size: 20px;
    color: #160647;
    margin-top: -20px;
}

.form-container p {
    color: #99A8A8;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-size: 18px;
    color: #76838F;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #A4BFC9;
    border-radius: 20px;
}

.form-textarea {
    resize: vertical;
}

.form-button {
    background-color: #4D2C5E;
    color: white;
    border: none;
    width: 300px;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}


/* responsive untuk hapee */
@media (max-width: 768px) {
    /* responsive untuk navbar */
    /* .navbar-content {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 10px;
    }

    .navbar-content {
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar-content .button-sign1,
    .navbar-content .button-sign2 {
        margin-left: 0;
        margin-top: 10px;
    }

    .logo {
        max-width: 100px;
        height: auto;
    } */
    /* end navbar */

    .video-learning {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-container {
        width: 100%;
    }

    .course-content-container {
        width: 90%;
        margin: 5vh auto;
    }

    .course-content-container h1 {
        font-size: 17px;
        margin-top: 0;
    }
    
    .course-content-container h2 {
        font-size: 20px;
        margin-top: 0;
    }

    .course-content-container p {
        font-size: 14px;
        margin-top: 0;
    }

    .introduction-course h2{
        font-size: 30px;
    }

    .introduction-course p{
        font-size: 14px;
        line-height: 1.5;
    }

    .title-comment {
        font-size: 25px;
    }

    .comments-row {
        display: flex;
        flex-direction: column;
    }

    .comment-container {
        display: block;
        background-color: white;
        border: 1px solid #D2D2D2;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 90%;
    }
    
    .form-container{
        width: 70%;
    }

    /* responsive untuk footernya */
    
    /* .footer-container {
        background-color: #4D2C5E;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .footer-content {
        width: 100%; 
        display: block;
    }

    .footer-social-icons ul {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .footer p{
        font-size: 12px;
        width: 100%;
        display: block;
    }    
    
    .footer-links {
        display: block;
        justify-content: space-between;
        width: 50%;
        margin-top: 20px;
    } */
    /* end footer */
}


/* responsive untuk tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    
    /* .logo {
        max-width: 150px;
        height: auto;
    } */
    .video-learning {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-container {
        width: 100%;
    }

    .course-content-container {
        width: 100%;
        margin-top: 20px;

    }

    .comments-row {
        display: flex;
        flex-wrap: wrap;
    }

    .comment-container {
        background-color: white;
        border: 1px solid #D2D2D2;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 40%;
        
    }

}
