@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">);

body {
    width: 100%;
    height: auto;
    background-color : white;
    font-family: 'Roboto', sans-serif;
    margin : 0;
    padding: 0;
}

/* style untuk header */



/* style untuk content */

.banner1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 6%;
    margin-bottom: 5%;
    background-color: #FDF8EE;
}

.banner1 > img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

h2 {
    margin: 0;
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 0;
    box-sizing: border-box;
    color: #4D2C5E;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 135%; 
    text-align: center;

}


.visimisi-content1 {
    display: flex;
    justify-content: center;
    background-color: #4D2C5E;
    border-radius: 50px;
    color: white;
    width: 60%;
    height: 50%;
    margin: 0 15% ;
    padding: 0 5%;
}

.visimisi-content1 > h4 {
    font-size: 150%;
    font-weight: bold;
}

.visimisi-content1 > h4 > p {
    color: #ddd5d5;
    font-size: 45%;
    font-weight: 400;
    opacity: 0.8;
}

.visimisi-content1 > .visi , .misi, .profil {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-right: 2%;
}

.content-container {
    display: flex;
    margin: auto;
    padding-top: 5%;
    background-color: white;
    margin: 5% 0;
}

.banner2 {
    margin-left: 10%;
    margin-right: 1%;
    padding-top: 2%;
    width: 40%;
    height: 60%;
}

.banner2 > img {
    width: 90%;
    height: 70%;
}

.branding1  {
    width: 40%;
    height: auto;
    margin-left: 4%;
    padding-top: 2%;
}

.branding1 > h2 {
    text-align: left;
}
.branding1 > p {
    color: #8A8A8A;
    font-size: 100%;
    font-weight: 400;
    padding-right: 25%;
}

.branding1 > button {
    padding: 2% 15%;
    font-weight: 500px;
    line-height: 2;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: #4D2C5E;
    color: white;
}

.branding1 > button:hover {
    background-color: white;
    color:  #4D2C5E;
}


.coursebox1 {
    display: flex;;
    justify-content: center;
    width: 100%;
    height: 60%;
    margin-bottom: 1%;
}


.course-container {
    display: flex;
    margin: 0 10%;
    justify-content: center;
    background-color: white;
}

.course-container1 {
    width: 80%;
    height: 80%;
    margin: 1%;
    display: flex;
    justify-content: space-between;
}

.course-container1 :hover {
    background-color: rgb(240, 238, 238);
    cursor: pointer;
}

.course-content {
    width: 100%;
    height: 100%;
    border: 4px solid rgba(145, 158, 171, 0.24); 
    border-radius: 16px;
    padding: 5% 2%;
    background-color: #FDF8EE;
}

.course-content > .img {
    display: flex;
    justify-content: center;
}

.course-content > .img > img {
    width: 75%;
    height: auto;
}

.course-content > .namecourse {
    font-size: 100%;
    color: #4D2C5E;
    font-weight: bold;
    text-align: center;
    margin: 2% 0;
}

.course-content > p {
    font-size: 80%;
    margin: 3% 8%;
    font-weight: 500;
}

.course-content > .companyimg {
    width: 90%;
    height: 5%;
    margin: 2% 6%;
}

.companyimg > img {
    height: 100%;
    width: auto;
}
.course-content > .upskill {
    color: #8A8A8A;
    font-size: 12px;
    font-weight: 400;
}

.morecourse > button {
    padding: 1% 7%;
    line-height: 2;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: #4D2C5E;
    color: white;
    margin: 0 35%;
}

.morecourse > button:hover {
    background-color: white;
    color:  #4D2C5E;
}

.introduction-course {
    display: flex;
    justify-content: center;
    gap: 3%;
    height: 100%;
    width: auto;
}

.testimoni {
    width: 100%;
    height: 100%;
    background-color: #FDF8EE;
    padding: 1% 0;
    margin: 5% 0;
}

.main-container2 {
    display: flex;
    justify-content: space-between;
    gap: 1%;
    padding: 2%;
    margin: 1%;
    width: auto;
    height: auto;
}

.comment-container {
    background-color: white;
    border: 2px solid #D2D2D2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 45%;
    height: 30;
    font-size: 90%;
}

.commentid {
    display: flex;
    align-items: center;
}

.commentid > img {
    width: 20%;
    height: 20%;
    padding: 3%;
}

.commentid > .comment-name {
    padding: 3%;
}

.comment-desc {
    text-align: center;
    padding: 2% 4%;
}
.comment-container h3 {
    font-size: 25px;
}

.svg {
    display: flex;
    flex-shrink: 0;
    justify-content:  center;
}

.svg > .svg1 {
    margin: 0 5%;
}

.svg > .svg2 {
    width: 10%;
    height: auto;
}

/* style untuk footer */


@media { min-width: 2000px;
    
}