@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">);

body {
    width: 100%;
    height: 100px;
    background-color : white;
    font-family: 'Roboto', sans-serif;
    margin : 0;
    padding: 0;
}

.parent-container {
    width: 100%;
    height: auto;
    background-color : #FDF8EE;
    margin: 0;
}

/* style untuk header */

.main_container {
    width: 80%;
    margin: 0 auto ;
}

.button-sign1, .button-sign2 {
    padding: 0 30px;
    font-size: 30px;
    font-weight: 400;
    line-height: 2;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: white;
    color: #4D2C5E;
    border-style: solid;
    border-color: #4D2C5E;
}

.navbar-content > button:hover {
    background-color: #4D2C5E;
    color: white;
}

.logo {
    width: 230px;
    height: 100px;
    padding-top: 20px;
    padding-left: 70px;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.navbar-container > .navbar-content > a {
    color : black ;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
}

.navbar-container > .navbar-content > .Home {
    color: #4D2C5E;
}

.navbar-container > .navbar-content {
    margin: auto 0;
    width: 40%;
    word-spacing: 70px;
    /* padding-left: 52%; */
}

/* style untuk content */

.banner1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 3%;
    margin: 7%;
}

.banner1 > img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

h2 {
    margin: 0;
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 0;
    box-sizing: border-box;
    color: #4D2C5E;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 135%; 
    text-align: center;

}


.visimisi-content1 {
    display: flex;
    justify-content: center;
    background-color: #4D2C5E;
    border-radius: 15px;
    color: white;
    width: 60%;
    height: 30%;
    box-sizing: border-box;
    flex-flow: row;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    margin: 0 20%;
    padding: 0 5%;
}

.visimisi-content1 > h4 {
    font-size: 25px;
    font-weight: 300px;
}

.visimisi-content1 > h4 > p {
    color: #8A8A8A;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.8;
}

.visimisi-content1 > .visi , .misi, .profil {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.content-container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
}

.banner2 {
    margin: 0 7%;
}

.banner2 > img {
    width: 130%;
    height: 100%;
}

.branding1  {
    width: 40%;
    height: auto;
    margin: 4% 0;
    margin-left: 4%;
}

.branding1 > h2 {
    text-align: left;
}
.branding1 > p {
    color: #8A8A8A;
    font-size: 25px;
    font-weight: 400;
    padding-right: 25%;
}

.branding1 > button {
    padding: 2% 15%;
    font-size: 25px;
    font-weight: 500px;
    line-height: 2;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: #4D2C5E;
    color: white;
}

.branding1 > button:hover {
    background-color: white;
    color:  #4D2C5E;
}


.coursebox1 {
    display: flex;;
    justify-content: center;
    margin-bottom: 5%;
}

.coursebox2 {
    display: flex;
    justify-content: space-between;
}

.coursebox2 :hover {
    background-color: rgb(240, 238, 238);
    cursor: pointer;
    border-radius: 16px;
}

.course-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: (100px, auto);
    padding: 10px;
}


.course-content {
    width: 450px;
    height: auto;
    border: 4px solid rgba(145, 158, 171, 0.24); 
    border-radius: 16px;
}

.course-content > .img {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.course-content > .img > img {
    width: 360px;
    height: 252px;
}

.course-content > .namecourse {
    font-size: 40px;
    color: #4D2C5E;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.course-content > p {
    font-size: 20px;
    margin: 3% 8%;
    font-weight: 500;
}

.course-content > .companyimg {
    margin: 0;
    padding: 0 9%;
}

.course-content > .upskill {
    color: #8A8A8A;
    font-size: 20px;
    font-weight: 400;
}

/* style untuk footer */
.social-icons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 40px;
    transition: background-color 0.3s ease;
}

.social-icons li a:hover {
    background-color: #4D2C5E;
}

.footer-container {
    background-color: #4D2C5E;
    color: white;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    
}

.footer-logo > img {
    width: 250px;
    height: auto;
    margin-left: 60px;
}

.footer-content > p > b {
    font-size: 23px;
    font-weight: bold;
    margin-left: 65px;
}

.footer-social-icons ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin-left: 65px;
}


.footer-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none; 
}

.footer-links a:hover {
    color: #FDF8EE;
}

.footer-column {
    flex: 1;
    margin-left: 30px;
    padding-bottom: 30px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-column p {
    font-size: 16px;
}

.footer {
    height: 50px;
    background-color: #341E40;
    margin-top: -30px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.footer p {
    text-align: center;
    color: white;
    font-size: 20px;
}

@media { min-width: 5000px;
    
}