@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">);

body {
    width: 100%;
    height: 100px;
    background-color : white;
    font-family: 'Roboto', sans-serif;
    margin : 0;
    padding: 0;
}

.parent-container {
    width: 100%;
    height: 800px;
    background-color : #FDF8EE;
    margin: 0;
}

.main_container {
    width: 80%;
    margin: 0 auto ;
}

.button-sign1, .button-sign2 {
    padding: 0 30px;
    font-size: 30px;
    font-weight: 400;
    line-height: 2;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: white;
    color: #4D2C5E;
    border-style: solid;
    border-color: #4D2C5E;
}

.navbar-content > button:hover {
    background-color: #4D2C5E;
    color: white;
}

.logo {
    width: 230px;
    height: 100px;
    padding-top: 20px;
    padding-left: 70px;
}

.navbar-container {
    height: 150px;
    padding: 10 px;
    display: flex;
    justify-content: space-between;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
}

.navbar-container > .navbar-content > a {
    color : black ;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
}

.navbar-container > .navbar-content > .Home {
    color: #4D2C5E;
}

.navbar-container > .navbar-content {
    margin: auto 0;
    width: 40%;
    word-spacing: 70px;
    padding-left: 52%;
}

.banner1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 3%;
}

.banner1 > img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

h2 {
    margin: 0;
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 0;
    box-sizing: border-box;
    color: #4D2C5E;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 135%; 
    text-align: center;

}


.visimisi-content1 {
    display: flex;
    justify-content: center;
    background-color: #4D2C5E;
    border-radius: 15px;
    color: white;
    width: 60%;
    height: 30%;
    box-sizing: border-box;
    flex-flow: row;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    margin: 0 20%;
    padding: 0 5%;
}

.visimisi-content1 > h4 {
    font-size: 25px;
    font-weight: 300px;
}

.visimisi-content1 > h4 > p {
    color: #8A8A8A;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
}

.visimisi-content1 > .visi , .misi, .profil {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.content-container {
    display: flex;
    justify-content: center;
    margin: 0 15%;
    margin-top: 5%;
}

.branding1  {
    margin: 0 2%;
}

.branding1 > h2 {
    text-align: left;
}
.branding1 > p {
    color: #8A8A8A;
    font-size: 20px;
    font-weight: 400;
    padding-right: 5%;
}

.branding1 > button {
    padding: 2% 15%;
    font-size: 25px;
    font-weight: 500px;
    line-height: 2;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: #4D2C5E;
    color: white;
    border-style: solid;
    border-color: #4D2C5E;
}

.branding1 > button:hover {
    background-color: white;
    color:  #4D2C5E;
}

.course-containerbox {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
}


.course-container {
    width: 100%;
    box-sizing: border-box;
}

.coursebox1 {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    justify-content: center;
    margin: 0 5%;
    padding: 32px 16px;
}

.coursebox2 {
    display: flex;
    justify-content: space-between;
}

.course-content {
    width: 500px;
    height: auto;
    padding: 5%;
    border: black;
    border-radius: 5px;
    box-sizing: border-box;
    border-color: #4D2C5E;
}

.course-content > .img {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.course-content > .img > img {
    width: 360px;
    height: 252px;
}

.course-content > .namecourse {
    font-size: 40px;
    color: #4D2C5E;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.course-content > p {
    font-size: 20px;
    margin: 3% 8%;
    font-weight: 500;
}

.course-content > .companyimg {
    margin: 0;
    padding: 0 9%;
}

.course-content > .upskill {
    color: #8A8A8A;
    font-size: 20px;
    font-weight: 400;
}
